{% extends 'base.html' %}
 
{% block content %}
 
<div class="container ">
<h1>Products</h1>
<div class="row">
<div class="card-columns" style="padding: 10px; margin: 20px;">
    <div class="col-5">

{% for p  in product%}
<div class="col-md-4">
    <div class="card mb-4">
    <div class="card" style="width: 18rem; border:5px black solid">
        <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text">{{p.description}}</p>
        <p class="card-text">Price: ${{ p.price}}</p>
        <a href="{% url 'add_to_cart' p.id %}" class="btn btn-primary">Add to Cart</a>
        <a href="{% url 'buy_now' p.id %}" class="btn btn-primary">Buy Now</a>

        </div>
    </div>
</div>
</div>
 {% endfor %}
 
</div>
{% endblock %}